In [25]:
import pandas as pd

df = pd.read_csv('C:\\1 Disk D\\Data Science\\ipl-auction-optimizer\\data.csv')
df

,name,country,age,height,role,bat_style,bowl_style,t20_no,t20_runs,t20_avg,...,t20_bowl_econ,t20_bowl_avg,t20_bowl_sr,ipl_wkts,ipl_bowl_econ,ipl_bowl_avg,ipl_bowl_sr,team,year,price
0,chris morris,south africa,26.0,NaN,bowling-allrounder,right-handed-bat,right-arm-fast-medium,4,133,14.78,...,8.40,20.50,14.65,95,8.01,24.16,18.11,chennai-super-kings,2013,36250000
1,dirk nannes,australia,37.0,6.16828,bowler,right-handed-bat,left-arm-fast,3,22,11.00,...,7.52,16.39,13.07,28,7.30,28.04,23.04,chennai-super-kings,2013,34800000
2,ben laughlin,australia,31.0,NaN,bowler,right-handed-bat,right-arm-fast-medium,0,0,0.00,...,9.97,59.00,35.50,10,10.13,28.20,16.70,chennai-super-kings,2013,1160000
3,akila dananjaya,sri lanka,20.0,NaN,bowler,left-handed-bat,right-arm-offbreak,8,65,8.13,...,8.26,32.17,23.37,0,11.75,0.00,0.00,chennai-super-kings,2013,1160000
4,jason holder,west indies,22.0,NaN,bowling-allrounder,right-handed-bat,right-arm-fast-medium,14,491,16.37,...,8.58,28.88,20.20,53,8.81,27.57,18.77,chennai-super-kings,2013,1160000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1178,kamindu mendis,sri lanka,27.0,NaN,batting-allrounder,left-handed-bat,right-arm-offbreak,1,381,19.05,...,8.22,74.00,54.00,0,0.00,0.00,0.00,sunrisers-hyderabad,2025,7500000
1179,zeeshan ansari,india,26.0,NaN,bowler,right-handed-bat,right-arm-legbreak,0,0,0.00,...,0.00,0.00,0.00,0,0.00,0.00,0.00,sunrisers-hyderabad,2025,4000000
1180,sachin baby,india,37.0,NaN,batsman,left-handed-bat,right-arm-offbreak,0,0,0.00,...,0.00,0.00,0.00,2,4.80,4.00,5.00,sunrisers-hyderabad,2025,3000000
1181,aniket verma,india,23.0,NaN,batsman,right-handed-bat,right-arm-medium,0,0,0.00,...,0.00,0.00,0.00,0,0.00,0.00,0.00,sunrisers-hyderabad,2025,3000000
1182,atharva taide,india,25.0,NaN,batsman,left-handed-bat,left-arm-orthodox,0,0,0.00,...,0.00,0.00,0.00,0,0.00,0.00,0.00,sunrisers-hyderabad,2025,3000000

In [26]:
df = df[df['year'] >= 2023]

In [27]:
df

,name,country,age,height,role,bat_style,bowl_style,t20_no,t20_runs,t20_avg,...,t20_bowl_econ,t20_bowl_avg,t20_bowl_sr,ipl_wkts,ipl_bowl_econ,ipl_bowl_avg,ipl_bowl_sr,team,year,price
873,ajinkya rahane,india,35.0,NaN,batsman,right-handed-bat,right-arm-medium,2,375,20.83,...,0.00,0.0,0.0,1,5.00,5.00,6.00,chennai-super-kings,2023,5000000
874,bhagath varma,india,25.0,NaN,bowling-allrounder,right-handed-bat,right-arm-offbreak,0,0,0.00,...,0.00,0.0,0.0,0,0.00,0.00,0.00,chennai-super-kings,2023,2000000
875,kyle jamieson,new zealand,29.0,NaN,bowler,right-handed-bat,right-arm-fast-medium,3,49,24.50,...,9.29,41.2,26.6,9,9.61,29.89,18.67,chennai-super-kings,2023,10000000
876,ajay jadav mandal,india,27.0,NaN,bowling-allrounder,left-handed-bat,left-arm-orthodox,0,0,0.00,...,0.00,0.0,0.0,0,0.00,0.00,0.00,chennai-super-kings,2023,2000000
877,nishant sindhu,india,19.0,NaN,batting-allrounder,left-handed-bat,left-arm-orthodox,0,0,0.00,...,0.00,0.0,0.0,0,0.00,0.00,0.00,chennai-super-kings,2023,6000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1178,kamindu mendis,sri lanka,27.0,NaN,batting-allrounder,left-handed-bat,right-arm-offbreak,1,381,19.05,...,8.22,74.0,54.0,0,0.00,0.00,0.00,sunrisers-hyderabad,2025,7500000
1179,zeeshan ansari,india,26.0,NaN,bowler,right-handed-bat,right-arm-legbreak,0,0,0.00,...,0.00,0.0,0.0,0,0.00,0.00,0.00,sunrisers-hyderabad,2025,4000000
1180,sachin baby,india,37.0,NaN,batsman,left-handed-bat,right-arm-offbreak,0,0,0.00,...,0.00,0.0,0.0,2,4.80,4.00,5.00,sunrisers-hyderabad,2025,3000000
1181,aniket verma,india,23.0,NaN,batsman,right-handed-bat,right-arm-medium,0,0,0.00,...,0.00,0.0,0.0,0,0.00,0.00,0.00,sunrisers-hyderabad,2025,3000000
1182,atharva taide,india,25.0,NaN,batsman,left-handed-bat,left-arm-orthodox,0,0,0.00,...,0.00,0.0,0.0,0,0.00,0.00,0.00,sunrisers-hyderabad,2025,3000000

In [28]:
df['role'].unique()

array(['batsman', 'bowling-allrounder', 'bowler', 'batting-allrounder',
       'wk-batsman'], dtype=object)

In [29]:
allrounder_df = df[df['role'].isin(['bowling-allrounder', 'batting-allrounder'])]
bowler_df = df[df['role'] == 'bowler']
batsman_df = df[df['role'].isin(['batsman', 'wk-batsman'])]
# batting_allrounder_df = df[df['role'] == 'batting-allrounder']
# wk_batsman_df = df[df['role'] == 'wk-batsman']